/* Write your CSS here */
.denomination-item {
  list-style-type: none;
  margin-bottom: 16px;
  width: 48%;
}
.button {
  width: 100%;
  background-color: #382f5a;
  font-size: 17px;
  font-family: 'Roboto';
  border: 1px solid #c4c4c4;
  color: #d4d2db;
  border-radius: 6px;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 24px;
  }
}
