/* Write your CSS here */
.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cash-withdrawal-container {
  background-color: #150b3e;
  width: 80%;
  max-width: 400px;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .cash-withdrawal-container {
    width: 50%;
    max-width: 450px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
    padding-bottom: 16px;
  }
}

.user-details-container {
  display: flex;
}

.initial-container {
  background-color: #c7d2fe;
  border-radius: 24px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .initial-container {
    border-radius: 32px;
    height: 64px;
    width: 64px;
  }
}

.initial {
  color: #7c3aed;
  font-size: 16px;
  font-family: 'Roboto';
}

.name {
  color: #d4d2db;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 22px;
    margin-left: 16px;
  }
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.your-balance {
  color: #585076;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 4px;
}
@media screen and (min-width: 768px) {
  .your-balance {
    font-size: 20px;
    margin-top: 8px;
  }
}

.balance {
  color: #d4d2db;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .balance {
    font-size: 32px;
  }
}

.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .currency {
    font-size: 12px;
  }
}

.cash-withdraw {
  color: #d4d2db;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 17px;
}

@media screen and (min-width: 768px) {
  .cash-withdraw {
    font-size: 24px;
    margin-top: 24px;
  }
}

.choose-sum {
  color: #585076;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.denominations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
